<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h1>URL Shortener</h1>
    <form action="/shortUrl" method="POST" onsubmit="(e) => {e.preventDefault()}">
        <input type="url" name="fullUrl" id="fullUrl" placeholder="Enter Url" required>
        <button type="submit">Generate Url</button>
    </form>
    <table>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>"><span class="baseUrl"></span><%= shortUrl.short %></a></td>
                </tr>
                <% })
            %>
        </tbody>
    </table>
    <script>
        const baseUrl = window.location.origin
        console.log(baseUrl)
        document.querySelectorAll('.baseUrl').forEach((span) => span.innerHTML= `${baseUrl}/`) 
    </script>
</body>

</html>